[buildout]

parts =
  python

eggs =
  rst2pdf
  docutils

include-site-packages = false
exec-sitecustomize = false

allowed-eggs-from-site-packages =
  setuptools
  distribute

extensions = mr.developer
sources = sources
sources-dir = apps
auto-checkout = *
always-checkout = true

versions = versions

[sources]
# my.package = svn http://example.com/svn/my.package/trunk
# some.other.package = git git://example.com/git/some.other.package.git
# bzr.package = bzr bzr+ssh://bazaar.launchpad.net/~user/project/branch/

[versions]
docutils = 0.7

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
